

.portada{
	height: 50px;
	width: 1550px;
	border: 1px solid blue;

}


table, th, td {
   border: 1px solid black;
   color: #000000;
   background-color: lightblue;
   font-family: verdana;
   font-size: 10px;	
}

body{
    background-color: #FFFFB3;
}


nav {
    display: block;
}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
